/* Badges/Notifications */
@media (max-width: 767px) {
  .mobile-hide {
    display: none; }
  .mobile-bold {
    font-weight: bold; } }

.mobile-show {
  visibility: hidden;
  display: none !important; }

@media (max-width: 767px) {
  .mobile-show {
    visibility: visible;
    display: block !important; } }

@media (max-width: 767px) {
  h1 {
    font-size: 30px; } }
